@charset "UTF-8";
/* CSS Document */

* {
	padding: 0;
	margin : 0;
	box-sizing: border-box;
}

body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.text {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: active-opacity 2s;
}

.box {
	margin: 200px auto;
	background-color: #E1E1E1;
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Opacity */
.hidden-opacity {
	opacity: 0;
}

.active-opacity {
	animation: active-opacity 1s forwards;
}

@keyframes active-opacity {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

/* Fade Left */
.hidden-fade-left {
	transform: translateX(-200px);
	opacity: 0;
}

.active-fade-left {
	animation: fade-left 1s forwards;
}

@keyframes fade-left {
	0% {
		opacity: 0;
		transform: translateX(-200px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/* Fade Right */
.hidden-fade-right {
	transform: translateX(200px);
	opacity: 0;
}

.active-fade-right {
	animation: fade-right 1s forwards;
}

@keyframes fade-right {
	0% {
		opacity: 0;
		transform: translateX(200px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}